/*****************COLORI************************************
******************************nome**************codice******
background               grigio chiaro          #e5e5e5
barra navigazione        blu chiaro             #183870
contorni barra           azzurro                #0570b9
                         bianco                 white




*****************************************************/

*{margin:0;padding:0;}

#top{ /*parte sopra*/
    background: url('logo2.png') 0 0 no-repeat ;
    background-position: center center;
    border: solid 2px;
    border-color: #0570b9;
    margin-right: 20%;
    margin-left:  20%;
    padding-top: 10%;
    border-radius: 10px;
    background-size: 60% 100%;
    background-color: white;

}

#nav{
    background-color: #183870;
    border: solid 2px;
    border-color: #0570b9;
    width: 59.8%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    border-radius: 10px;
    font-family: "Georgia", Times, serif;
    
}

#nav ul{
    list-style-type: none;
}
#nav ul li{
    float: left;
    border-right: 1px dotted #0570b9;
}
#nav a:link,#nav a:visited{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
#nav a:hover{ /*quando passi sopra*/
    background-color: #0570b9;
    color: #1f1f1f;
}

#ins{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2.3%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid #0570b9; 
    background-color: white;
    border-radius: 10px;
    font-family: "Georgia", Times, serif;
    
}

#ind{ /*solo il login*/
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%; 
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid #0570b9; 
    background-color: #e5e5e5;  
    border-radius: 10px;
    font-family: "Georgia", Times, serif;
}